



  <div class="mat-card" id="second-card">
    <div class=card-titles id="taa-2">
          <div id="titulo-acerca">
            <h2 id="titulo-acerca">FORMACIÓN Y EDUCACIÓN
              
              <button id="btn-add" mat-raised-button color="warn"(click)="openDialogEducacion()"><mat-icon>add_circle_outline</mat-icon></button> 
            </h2>
            
          </div>
        <div class="btn-edit" onclick="cambiar_Texto()">
            <a href="#" class="btn-rigth">
                <i class="fa fa-pen"> </i>
            </a>
        </div>
        <div class="table-responsive-sm" style="vertical-align:middle; margin: 6px ">
          <table class="sinBordes" class="table table-responsive-sm  table table-borderless" >
            <thead class="ta" style=" vertical-align:middle;
            background:linear-gradient(top, #a5c9e7, #68cff1) !important;
            background:-webkit-linear-gradient(top, #a5c9e7, #68cff1)!important;
            background:-moz-linear-gradient(top, #a5c9e7, #68cff1)!important;
            background:-o-linear-gradient(top, #a5c9e7, #68cff1)!important;
            background:-ms-linear-gradient(top, #a5c9e7, rgb(245, 237, 233));">
              <tr>
              <th scope="col">Insticución</th>
              <th scope="col">Curso </th>
              <th scope="col">Descripción de Curso </th>
              <th scope="col">Fecha Inicio </th>
              <th scope="col">Fecha Fin </th>
              <th scope="col">Logo Institucion </th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
            </thead>
            <tbody style="background-color: #d7e5f1">
            <tr *ngFor="let educacion of educaciones">
            
            <td >{{educacion.nombreInstitucion}}</td>
            <td>{{educacion.nombreCurso}}</td>
            <td>{{educacion.descActCurso}}</td>
            <td>{{educacion.fechaInicioCurso |date: format:"dd-MM-yyyy HH:mm:ss" }}</td>
            <td>{{educacion.fechaFinCurso|date: format:"dd-MM-yyyy HH:mm:ss"}}</td> 
           
           
            <ng-template [ngIf]="educacion.fotoInstitucion==''" [ngIfElse]="fueradeservicio">
              <td><img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Sin_datos.jpg" width="50px" height="50px"></td>
            </ng-template>
            <ng-template #fueradeservicio>
              <td><img src="{{educacion.fotoInstitucion}}" width="50px" height="50px"></td>
            </ng-template>
            
            
            <td><button  mat-icon-button color="primary" (click)="openEditEducacion(educacion)" type="button"  data-toggle="modal" data-target="#myModal"><mat-icon>create</mat-icon></button></td>
            <td><button mat-icon-button color="accent" (click)="eliminarEducacion(educacion.idEducacion)" type="button"  data-toggle="modal" ><mat-icon>delete</mat-icon></button></td>
           
          </tr>
        </tbody>
        </table>
        </div>
        <div>
            <input id="" edit-acerca type="text" oninput="muFunction2(this.value)" style="display:none">
        </div>
    </div>
  </div>
  
